@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;

    &__list {
        display: none;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 24px;
        list-style: none;

        &--is-active {
            display: grid;
        }

        &__item {
            max-width: 100%;
            max-height: 100%;
            height: auto;
            border-radius: 4px;
            overflow: hidden;
            img {
                max-width: 100%;
                max-height: 250px;
                border-radius: 4px; 
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;
        padding: 24px;

        &__button {
            color: variaveis.$corTextoPrincipal;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border: 5px solid transparent;

            &--is-active {
                border-bottom: 5px solid variaveis.$corTextoPrincipal;
            }
        }
    }
}
