@use 'hero';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$corDeFundo: #3a3a3a;
$corTextoPrincipal: #f9f9f9;

body {
    background-color: $corDeFundo;
}

@mixin text($fonteSize: 16px) {
    font-size: $fonteSize;
    line-height: $fonteSize + 10px;
    color: $corTextoPrincipal;
}

@mixin title($fontSize: 36px) {
    @include text($fontSize);
    color: $corTextoPrincipal;
}

.text--big {
    @include text(12px);
    padding-bottom: 8px
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.link-text {
    @include text(18px);
    color: $corTextoPrincipal;
    text-decoration: underline;
}

.title--big {
    @include title(44px);
}

.title {
    @include title();
}

.title--small {
    @include title(12px);
}